@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 33.33% 98.24%;
    --foreground: 190.5 51.28% 15.29%;
    --muted: 187 20% 88%;
    --muted-foreground: 187 13% 36%;
    --popover: 187 40% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 60 33.33% 98.24%;
    --card-foreground: 190.5 51.28% 15.29%;
    --border: 187 7% 88%;
    --input: 187 7% 88%;
    --primary: 187.16 63.01% 33.92%;
    --primary-foreground: 187 0% 100%;
    --secondary: 187 16% 92%;
    --secondary-foreground: 187 16% 32%;
    --accent: 187 23% 86%;
    --accent-foreground: 187 23% 26%;
    --destructive: 12 91.56% 55.75%;
    --destructive-foreground: 0 0% 100%;
    --ring: 187 74% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 1.96% 10%;
    --foreground: 60 4.17% 90.59%;
    --muted: 200 2.4% 24.51%;
    --muted-foreground: 187 13% 64%;
    --popover: 180 3.03% 12.94%;
    --popover-foreground: 187 21% 98%;
    --card: 180 3.03% 12.94%;
    --card-foreground: 60 4.17% 90.59%;
    --border: 200 2.4% 24.51%;
    --input: 200 2.4% 24.51%;
    --primary: 187 74% 46%;
    --primary-foreground: 180 3.03% 12.94%;
    --secondary: 187 44.29% 25.11%;
    --secondary-foreground: 60 4.17% 90.59%;
    --accent: 187 20% 19%;
    --accent-foreground: 187 20% 79%;
    --destructive: 12 76.45% 57.89%;
    --destructive-foreground: 0 0% 100%;
    --ring: 187 74% 46%;
  }

  /* SCROLLBAR */
  ::-webkit-scrollbar-track {
    border: 5px solid white;
    background-color: #b2bec3;
  }

  ::-webkit-scrollbar {
    width: 15px;
    background-color: #dfe6e9;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--accent));
    /* background-color: #74b9ff; */
    border-radius: 10px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes transitionFromLeft {
  0% {
    transform: translateX(-100%);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  100% {
    transform: translateX(0%);
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
  }
}

/* Fixed the table header */

.table-container {
  position: relative;
  height: calc(80vh - 6.5rem);
  overflow: auto;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 10;
  color: #fff; /* Replace with your desired text color */
}

.table-body {
  overflow: auto;
}
